@import url("hide_tabs_toolbar_v2.css");

/* ================================ */
/* Make compact design more compact */
/* -------------------------------- */

/* Less space between toolbar buttons */
:root[uidensity="compact"] {
    --toolbarbutton-outer-padding: 1px !important;
    --toolbarbutton-inner-padding: 4px !important;
    /* --bookmark-block-padding: 1px; */
}

/* Make sidebar header slim */
#sidebar-header {
    padding: 0px 8px !important;
}

#sidebar-header .close-icon {
    list-style-image: url(chrome://global/skin/icons/arrow-left.svg) !important;
}

/* ========================
 * Style toolbar separators
 * ------------------------
 * To add separators to toolbar:
 * -   add flexible spacers (springs) to toolbar, where separators should be
 * -   about:config > browser.uiCustomization.state
 * -   in the json of the value replace all customizableui-special-spring<ID>
 *     elements with customizableui-special-separator<ID>
 * -   restart Firefox
 *
 * Source: https://superuser.com/a/1248093/108725
 */
toolbarseparator[id^='customizableui-special-separator'] {
    margin-top: 6px;
    margin-bottom: 6px;
}
